@** Author: Jackson
    * Date: 21/05/2021
    * Version: 1.0.0.0
    * Objective: Update modal partial view*@

@model Device_Tracking_System.Models.DeviceInfo

<div class="modal-header">
    <h4 class="modal-title">Batch Update</h4>
</div>
<div class="modal-body">
    <form id="frmBatchUpdate">
        <div class="form-group">
            <label id="sourceSubstrate_Modal">SourceSubstrateId</label>
            @Html.TextBoxFor(m => m.SourceSubstrateId, new {@id = "SourceSID", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SourceSubstrateId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label id="targetSubstrate_Modal">TargetSubstrateId</label>
            @Html.TextBoxFor(m => m.TargetSubstrateId, new { @id = "TargetSID", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TargetSubstrateId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label id="binResult_Modal">BinResult</label>
            @Html.DropDownList("BinResult", new SelectList(ViewBag.BinResult, "BinResultID", "BinResultName"), new { @id = "BrID", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BinResult, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label id="binCode_Modal">BinCode</label>
            @Html.TextBoxFor(m => m.BinCode, new { @id = "BinCode", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BinCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label id="binDesc_Modal">BinDesc</label>
            @Html.TextBoxFor(m => m.BinDesc, new { @id = "BinDesc", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BinDesc, "", new { @class = "text-danger" })
        </div>
    </form>
</div>
<div style="padding:15px; text-align:right; border-top: 1px solid #e5e5e5">
    <input type="button" value="Confirm" onclick="OnSubmit()" class="btn btn-warning" />
    @*<button class="btn btn-danger" data-dismiss="modal" >Close</button>*@
    <input type="button" value="Close" onclick="window.location.href='@Url.Action("UpdateGridView", "Update")'" data-dismiss="modal" class="btn btn-danger"/>

</div>
